@import "../config";

/*CSS Card*/

@media (max-width: 480px) {
    .css-card {
        .custom-card {
            width: 230px;
            border-radius: 15px;
            .img-box {
                width: 185px;
                border-radius: 10px;
            }
            .card-content {
                p {
                    font-size: 0.8rem;
                }
                a {
                    font-size: 0.9rem;
                }
            }
        }
    }
}


/*CSS Card END*/