@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* DROPZONE */
/* DROPZONE DARK */
/* Table Team */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/*Bounce loader*/
.loader {
  display: flex;
  gap: 0.25rem;
}
.loader .dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #121212;
  animation: bounce 0.5s infinite alternate;
}
.loader .dot:nth-child(2) {
  animation-delay: 100ms;
}
.loader .dot:nth-child(3) {
  animation-delay: 200ms;
}

@keyframes bounce {
  to {
    translate: 0 -0.25rem;
  }
}
/*Bounce loader END*/
/*CSS Card*/
.css-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px 50px;
  padding: 100px 50px;
}
.css-card .custom-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 350px;
  max-width: 100%;
  height: 300px;
  background: #fff;
  border-radius: 20px;
  transition: 0.5s;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
}
.css-card .custom-card .img-box {
  position: absolute;
  top: 20px;
  width: 300px;
  height: 220px;
  background: #333;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.5s;
}
.css-card .custom-card .img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.css-card .custom-card .card-content {
  position: absolute;
  top: 252px;
  width: 100%;
  height: 35px;
  padding: 0 30px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
}
.css-card .custom-card .card-content h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333333;
}
.css-card .custom-card .card-content p {
  color: #333;
}
.css-card .custom-card .card-content a {
  position: relative;
  top: 15px;
  display: inline-block;
  padding: 12px 25px;
  text-decoration: none;
  background: #181818;
  color: #fff;
  font-weight: bold;
}
.css-card .custom-card .card-content a:hover {
  opacity: 0.8;
}
.css-card .custom-card:hover {
  height: 400px;
}
.css-card .custom-card:hover .img-box {
  top: -100px;
  scale: 0.75;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}
.css-card .custom-card:hover .card-content {
  top: 130px;
  height: 250px;
}

/*CSS Card END*/
/*DROPZONE*/
.dropzone-box {
  border-radius: 2rem;
  padding: 2rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 36rem;
  width: 100%;
  background-color: #fff;
}
.dropzone-box h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.dropzone-box .dropzone-area {
  padding: 1rem;
  position: relative;
  margin-top: 1rem;
  min-height: 16rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px dashed #111926;
  border-radius: 1rem;
  color: #111926;
  cursor: pointer;
}
.dropzone-box .dropzone-area [type=file] {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.dropzone-box .dropzone-area .file-upload-icon svg {
  height: 5rem;
  width: 5rem;
  margin-bottom: 0.5rem;
  stroke: #111926;
}
.dropzone-box .dropzone--over {
  border-style: solid;
  background-color: #F8F8FF;
}
.dropzone-box .dropzone-actions {
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
  margin-top: 1.5rem;
  border-top: 1px solid #D3D3D3;
  gap: 1rem;
  flex-wrap: wrap;
}
.dropzone-box .dropzone-actions button {
  flex-grow: 1;
  min-height: 3rem;
  font-size: 1.2rem;
}
.dropzone-box .dropzone-actions button:hover {
  text-decoration: underline;
}
.dropzone-box .dropzone-actions button[type=reset] {
  background-color: transparent;
  border: 1px solid #D3D3D3;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  color: #111926;
  cursor: pointer;
}
.dropzone-box .dropzone-actions button[type=submit] {
  background-color: #111926;
  border: 1px solid #111926;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  color: #fff;
  cursor: pointer;
}

/*DROPZONE END*/
/*DROPZONE 2*/
*::-moz-selection {
  background: #8800ff;
  color: var(--btn-text);
}
*::selection {
  background: #8800ff;
  color: var(--btn-text);
}

.dropzone-box-dark {
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 36rem;
  border: 1px solid #333333;
  width: 100%;
  background: #1A1C1E;
}
.dropzone-box-dark h2 {
  font-size: 1.4rem;
  margin-bottom: 0.6rem;
  color: #FFF;
}
.dropzone-box-dark p {
  font-size: 1.15rem;
  color: #D3D3D3;
}
.dropzone-box-dark .dropzone-area-dark {
  padding: 1rem;
  position: relative;
  margin-top: 1.5rem;
  min-height: 16rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px dashed #FFF;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.dropzone-box-dark .dropzone-area-dark .file-info {
  font-size: 1.1rem;
}
.dropzone-box-dark .dropzone-area-dark [type=file] {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.dropzone-box-dark .dropzone-area-dark .file-upload-icon svg {
  height: 6rem;
  max-width: 6rem;
  width: 100%;
  margin-bottom: 0.5rem;
  stroke: #FFF;
}
.dropzone-box-dark .dropzone-area-dark:hover {
  background: var(#262626);
}
.dropzone-box-dark .dropzone--over {
  border: 2px solid #8800ff;
  background: var(#262626);
}
.dropzone-box-dark .dropzone-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  gap: 1rem;
  flex-wrap: wrap;
}
.dropzone-box-dark .dropzone-actions button {
  flex-grow: 1;
  min-height: 3rem;
  font-size: 1.2rem;
  border: none;
  transition: background 0.3s ease;
}
.dropzone-box-dark .dropzone-actions button[type=reset] {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  color: #FFF;
  background: #262626;
  cursor: pointer;
  border: 1px solid #333333;
}
.dropzone-box-dark .dropzone-actions button[type=reset]:hover {
  background: #383838;
}
.dropzone-box-dark .dropzone-actions button[type=submit] {
  background: #8800ff;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  color: #F2F7FE;
  border: none;
  cursor: pointer;
}
.dropzone-box-dark .dropzone-actions button[type=submit]:hover {
  background: #6c00ca;
}

/*DROPZONE 2 END*/
/* TABLE Team */
.table-widget {
  border-radius: 1rem;
  background: #FFFFFF;
  padding: 1.5rem;
  border: 2px solid #EDEEF1;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  text-align: left;
  overflow-x: auto;
}
.table-widget table {
  max-width: -moz-fit-content;
  max-width: fit-content;
  border-collapse: collapse;
}
.table-widget caption {
  font-size: 1.12rem;
  font-weight: 700;
  text-align: left;
  margin: 0.5rem 0px;
}
.table-widget th {
  padding: 1.25rem 1rem;
  font-size: 0.875rem;
  color: #A0A7B1;
}
.table-widget thead {
  border-top: 2px solid #EDEEF1;
}
.table-widget tfoot {
  margin-top: 1rem;
  border-top: 2px solid #EDEEF1;
}
.table-widget td {
  padding: 0.5rem 1rem;
  vertical-align: middle;
}
.table-widget tbody tr {
  cursor: pointer;
}
.table-widget tbody tr:nth-child(odd) {
  background: #f6f9ff;
}
.table-widget tbody tr:hover {
  background: #e2ecff;
}

.table-row-count {
  font-size: 0.8rem;
  font-weight: 700;
  background: #F1F2F6;
  padding: 0.5rem;
  display: inline-flex;
  align-items: center;
  margin-left: 1rem;
  border-radius: 0.5rem;
}

.team-member-profile {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.team-member-profile img {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.profile-info__name {
  font-weight: 700;
  white-space: nowrap;
}

.status {
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-weight: 700;
}

.status--active {
  background: #EAFEF3;
  color: #2ECC71;
}

.status--inactive {
  background: #fff6e5;
  color: #F4BD50;
}

.status--offline {
  background: #F1F2F6;
  color: #A0A7B1;
}

.tags {
  display: flex;
  gap: 0.5rem;
}

.tag {
  padding: 0.5rem;
  background: #F1F2F6;
  border-radius: 0.5rem;
  font-weight: 700;
}
.tag::first-letter {
  text-transform: uppercase;
}

.tag--design {
  background: #f4efff;
  color: #9A84DA;
}

.tag--QA {
  color: #DF8FA8;
  background: #fbdde7;
}

.tag--dev {
  background: #eaf2ff;
  color: #739FDC;
}

.tag--marketing {
  background: #fff6e5;
  color: #F4BD50;
}

.table-widget {
  min-height: 5rem;
}

.pagination {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  padding: 0;
}
.pagination a {
  display: block;
  color: #101824;
  font-size: 1.3rem;
  text-decoration: none;
  font-weight: 700;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}
.pagination a:hover, .pagination a.active {
  background: #f6f9ff;
  text-decoration: underline;
}

/* TABLE 1 END *//*# sourceMappingURL=style.css.map */