@import "config";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


/*Bounce loader*/

.loader {
    display: flex;
    gap: 0.25rem;
    .dot {
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        background-color: #121212;
        animation: bounce 0.5s infinite alternate;
        &:nth-child(2) {
            animation-delay: 100ms;
        }
        &:nth-child(3) {
            animation-delay: 200ms;
        }
    }
}

@keyframes bounce {
    to {
        translate: 0 -0.25rem;
    }
}


/*Bounce loader END*/


/*CSS Card*/

.css-card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 100px 50px;
    .custom-card {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 350px;
        max-width: 100%;
        height: 300px;
        background: #fff;
        border-radius: 20px;
        transition: 0.5s;
        box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
        .img-box {
            position: absolute;
            top: 20px;
            width: 300px;
            height: 220px;
            background: #333;
            border-radius: 12px;
            overflow: hidden;
            transition: 0.5s;
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .card-content {
            position: absolute;
            top: 252px;
            width: 100%;
            height: 35px;
            padding: 0 30px;
            text-align: center;
            overflow: hidden;
            transition: 0.5s;
            h2 {
                font-size: 1.5rem;
                font-weight: bold;
                color: #333333;
            }
            p {
                color: #333;
            }
            a {
                position: relative;
                top: 15px;
                display: inline-block;
                padding: 12px 25px;
                text-decoration: none;
                background: #181818;
                color: #fff;
                font-weight: bold;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
        &:hover {
            height: 400px;
            .img-box {
                top: -100px;
                scale: 0.75;
                box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
            }
            .card-content {
                top: 130px;
                height: 250px;
            }
        }
    }
}


/*CSS Card END*/


/*DROPZONE*/

:root {
    --primary: #111926;
    --white: #fff;
    --background: #F8F8FF;
    --gray: #D3D3D3;
}

.dropzone-box {
    border-radius: 2rem;
    padding: 2rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 36rem;
    width: 100%;
    background-color: var(--white);
    h2 {
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }
    .dropzone-area {
        padding: 1rem;
        position: relative;
        margin-top: 1rem;
        min-height: 16rem;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 2px dashed var(--primary);
        border-radius: 1rem;
        color: var(--primary);
        cursor: pointer;
        [type="file"] {
            cursor: pointer;
            position: absolute;
            opacity: 0;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
        .file-upload-icon {
            svg {
                height: 5rem;
                width: 5rem;
                margin-bottom: 0.5rem;
                stroke: var(--primary);
            }
        }
    }
    .dropzone--over {
        border-style: solid;
        background-color: var(--background);
    }
    .dropzone-actions {
        display: flex;
        justify-content: space-between;
        padding-top: 1.5rem;
        margin-top: 1.5rem;
        border-top: 1px solid var(--gray);
        gap: 1rem;
        flex-wrap: wrap;
        button {
            flex-grow: 1;
            min-height: 3rem;
            font-size: 1.2rem;
            &:hover {
                text-decoration: underline;
            }
        }
        button[type='reset'] {
            background-color: transparent;
            border: 1px solid var(--gray);
            border-radius: 0.5rem;
            padding: 0.5rem 1rem;
            color: var(--primary);
            cursor: pointer;
        }
        button[type='submit'] {
            background-color: var(--primary);
            border: 1px solid var(--primary);
            border-radius: 0.5rem;
            padding: 0.5rem 1rem;
            color: var(--white);
            cursor: pointer;
        }
    }
}


/*DROPZONE END*/